<div class="block">
  <div class="posts-blog">
    <div class="posts-item news">
      <h3 class="posts-blog-title">новости</h3>
      <hr>
      <p class="posts-blog-text">Новостей пока что нету</p>
    </div>
    <div class="posts-item">
      <h3 class="posts-blog-title">поступления</h3>
      <hr>
      <p class="posts-blog-text">Новых книг еще нету</p>
    </div>
  </div>
</div>
