<div class="logo-panel">
  <div class="logo">Книговед</div>
  <div class="logo-sub">Магазин, отличных книг</div>
</div>
<div class="link-panel">
  <ul class="link-bar">
    <li class="link">
      <%= link_to "Регистрация", new_user_path %>
    </li>
    <li class="link">
      <%= link_to "Список читателей", users_path %>
    </li>
  </ul>
</div>
