.flash-message {
    position: absolute;
    left: 50%;
    /* Горизонтальное выравнивание по центру */
    transform: translateX(-50%);
    /* Коррекция положения для выравнивания */
    top: 10px;
    /* Пример вертикального положения (может быть настроено по вашим требованиям) */
    color: #721c24;
    /* Цвет текста */
    background-color: #f8d7da;
    /* Фоновый цвет плашки */
    padding: 10px;
    border: 1px solid #f5c6cb;
    /* Цвет границы */
    border-radius: 4px;
    animation: displayFlash 3s ease forwards;
    /* Анимация для отображения текста и фона в течение 3 секунд */
}

@keyframes displayFlash {
    0% {
        opacity: 0;
        /* Начальная непрозрачность: текст и фон скрыты */
    }

    5% {
        opacity: 1;
        /* Отображение текста и фона на 5% времени (0.15 секунд) */
    }

    95% {
        opacity: 1;
        /* 100% непрозрачности с 5% до 95% времени (1.4 секунды) */
    }

    100% {
        opacity: 0;
        /* Конечная непрозрачность: текст и фон скрыты */
    }
}

.alert.fade-out {
    animation: none;
    /* Отключение анимации при добавлении класса .fade-out */
}