.header {
    padding-top: 18px;
}

/* LOGO */

.logo-panel {
    text-align: center;
}

.logo-title {
    color: #3e2bd0;
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
}

.logo-title:hover {
    color: #7462ff;
}

.logo-subtitle {
    color: #a12d92;
}

/* NAVBAR */

.navbar {
    margin: 0 8px;
    padding-bottom: 8px;
}

.navbar ul {
    display: flex;
}

.navbar-item {
    margin-right: 16px;
}

.navbar-item:last-child {
    margin-right: 0;
}

.navbar-link {
    font-weight: 500;
    color: #3e2bd0;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
}

.navbar-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #a12d92;
    /* Цвет подчеркивания */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.navbar-link:hover::before {
    transform: scaleX(1);
}

/* Для активной страницы */
.navbar-link.active::before {
    transform: scaleX(1);
}

/* PROFILE */
.profile-panel {

    text-align: right;
}