body {
    background-color: #dfdfdf;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
}

.container {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1192px;
    width: 100%;
}

.block {
    padding-bottom: 18px;
    margin: 0 8px;
}

.line {
    margin: 7px;
    border-color: #3e2bd0;
}

.title,
.title-main {
    text-align: center;
    padding: 8px 0;
}

.required {
    color: red;
}